<div class="bg-white rounded-lg shadow-lg p-4 mb-4">
  <div class="mb-4  h-52 w-52">
    <img src="{{product.image}}" alt="{{product.name}}" class="object-cover h-48 w-96 rounded-md">
  </div>

  <p class="text-gray-600 text-sm">Product Number {{product.id}}</p>
  <p class="text-lg font-semibold mb-2">{{product.name}}</p>
  <p class="text-gray-600">Quantity: {{product.quantity}}</p>
  <p class="text-gray-600">Base Price: {{product.basePrice}} Dinar</p>
  <p class="text-red-600 font-semibold">Sale Price: {{product.salePrice}} Dinar</p>
  <p class="text-gray-600">Category: {{product.category}}</p>
</div>
